<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="PFW.CSIST203.Project5.Config.DownloadConfiguration" type="PFW.CSIST203.Project5.Config.DownloadConfiguration, PFW.CSIST203.Project5" />
  </configSections>

  <PFW.CSIST203.Project5.Config.DownloadConfiguration>
    <Urls>
      <Url name="search-1.html" url="https://google.com" />
      <Url name="search-2.html" url="https://bing.com" />
      <Url name="search-3.html" url="https://yahoo.com" />
    </Urls>
  </PFW.CSIST203.Project5.Config.DownloadConfiguration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>